*{
    margin: 0;
    padding: 0;
}

.banner{
    height: max-content;
    border: 1px #00000000 solid;
    min-height: 155px;
    background-clip: border-box;
    margin: 0 auto;
    padding-bottom: 32px;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn{
    margin-top:16px;
    padding-right: 6px;
    text-align: right;
}

.btn a {
    text-decoration:none;
    background:#2f435e;
    color:#f2f2f2;
    padding: 10px 30px 10px 30px;
    font-size:16px;
    font-family: 微软雅黑, serif;
    font-weight:bold;
    border-radius:3px;
    -webkit-transition:all linear 0.30s;
    -moz-transition:all linear 0.30s;
    transition:all linear 0.30s;
}

.btn a:hover {
    background:#385f9e;
}

a{
    text-decoration: none;
    font-size:15px;
    color: black;
}

.banner h1{
    text-align: left;
    padding-top: 50px;
    padding-left: 280px;
    font-size: 55px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

h2{
    font-size:35px;
    color: rgb(51, 51, 51);
    font-weight:400;
}
h3{
    font-size:22px;
    color: rgb(51, 51, 51);
    font-weight:400;
}

.bili-banner{
    margin: 0 auto;
    /*position: relative;*/
    /*z-index: 0;*/
    min-height: 155px;
    height: 9.375vw;
    min-width: 1033px;
    /*background-color: #f9f9f9;*/
    display: -ms-flexbox;
    /*display: flex;*/
    /*-ms-flex-pack: center;*/
    /*justify-content: right;*/
    /*background-repeat: no-repeat;*/
    background-position: center 0;
    background-size: cover;
}